[Unit]
Description=Scheduler for garden lights
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=15s
ExecStart=/usr/local/bin/lights --cron

[Install]
Alias=lights.service
WantedBy=multi-user.target
